---
layout: table
title: The Table | The Texas Tribune
---

<div class="wrapper content-wrapper">
  <table class="tt-table striped borders condensed responsive" id="sortable">
    <thead>
      <tr>
        <th class="siftable">Job Title</th>
        <th class="siftable">State</th>
        <th class="siftable">Total employees</th>
        <th class="siftable">Females</th>
        <th class="siftable">Males</th>
        <th class="siftable">Median pay</th>
        <th class="siftable">Median pay gap*</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-title="Job title">Assistant Attorney General I</td>
        <td data-title="State" class="lean-right">Texas</td>
        <td data-title="Total employees" class="lean-right">69</td>
        <td data-title="Females" class="lean-right">37</td>
        <td data-title="Males" class="lean-right">31</td>
        <td data-title="Median" class="lean-right">$0</td>
        <td data-title="Median pay gap" class="lean-right">0%</td>
      </tr>
    </tbody>
  </table>

  <div class="info-box">
    <p><b>*</b> Note 1.</p>
    <p><b>**</b> Note 2.</p>
  </div>
</div>
